.Container{
    margin-top: 6.25rem;
    /* background-color: blue; */
    padding: 2.5rem;
    display: grid;
    align-content: flex-start;
    width: 65vw;
    height: 80vh;

    
  
    /* flex: 1; */
    border-radius: 1.875rem;
    -webkit-box-shadow: 0.0625rem 0rem 0.9375rem -0.125rem #000000; 
box-shadow: 0.0625rem 0rem 0.9375rem -0.5rem #000000;

 
}

.btnContainer{
    width: 100%;
    /* background-color: tomato; */
    display: grid;
    justify-content: end;
    margin: 1.25rem 3.125rem 1.25rem 0rem;
}

.btn{
    width: fit-content;
height: 3.335rem;
left: 37.625rem;
top: 2.1875rem;
color: white;
font-size: 1.375rem;
line-height: 1.875rem;

background: #317143;
box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
border-radius: 1.25rem;
 cursor: pointer;

}

.dnitUser{
    text-align: start;
    /* color: tomato; */
}

.select1{
    height: 2.5rem;
    width: 100%;
    border: 0.0625rem solid grey;
    text-transform: capitalize;
}

.chevronright{
    color: white;
    /* background-color: white; */
}

.label-input {
    cursor: pointer;
    color: black;
    /* background-color: yellow; */
    /* Style as you please, it will become the visible UI component. */
 }
.label-input:hover {
  
    color: #317143;
    /* background-color: yellow; */
    /* Style as you please, it will become the visible UI component. */
 }
 
.find{
    color: #317143;
}

.btn-medium{
    width: 7.5rem;
height: 2.335rem;
left: 37.625rem;
top: 2.1875rem;
color: white;
font-size: 0.9375rem;
line-height: 1.875rem;

background: #317143;
box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
border-radius: 9.375rem;
border: none;
 cursor: pointer;

}

.btn-medium-2{
    width: 7.5rem;
height: 2.335rem;
left: 37.625rem;
top: 2.1875rem;
color: white;
font-size: 0.9375rem;
line-height: 1.875rem;

background: #F88703;
box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
border-radius: 9.375rem;
border: none;
 cursor: pointer;

}

.btn-gastos{
    width: fit-content  ;
    background-color: #317143;
}

.enlaceDownload{
    text-decoration: none;
    color: black;
}
.btn-2{

    width: fit-content;
    height: 3.335rem;
    left: 37.625rem;
    top: 2.1875rem;
    /* color: white; */
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding: 0.1875rem;
    
    background: #F88703;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 9.375rem;
     cursor: pointer;
}

.title1{
    padding: 0.1875rem
    
}

.hide{
    display: none;
}

.image-upload>input {
    /* display: none; */

  }
.image-upload>label {
    cursor: pointer;

  }
.image-upload {
    border: 0.0625rem solid #A8A8A8;
    width: fit-content;
    padding: 0.625rem;
    margin-top: 3.125rem;
    cursor: pointer;
   
  }
  

  /* //////////////////////// */


  #file[type="file"] {
	display: none;
}
  #file1[type="file"] {
	display: none;
}
.label-holder {
	width: 100%;
	height: 3.125rem;
  margin-top: 3em;
  display: grid;
  place-items: center;
  
}
.label{
  height: 3.125rem;
  width: 12.5rem;
  background-color:#2a3eb1;
  color: white;
  display: grid;
  place-items: center;
  font-size: 2.5rem ;
  cursor: pointer;
  
}

.result{
  min-height: 100%;
  max-height: auto;
  width: 100%;
  /* background-color: #272c34; */
  margin-top:1rem ;
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left; 
  
}

.foto1{
  width: 6.25rem;
  height: 5.625rem;
  object-fit: cover;
  padding: 0.75rem;  
}

.eliminarImg{
    width: fit-content;
    background-color: #2a3eb1;
    display: grid;
    justify-content: center;    
    
}
.eliminarImg h4{
color: aliceblue;
    
}

.estilosmodalDetails{
    color: #317143;
    padding: 0.625rem;
    text-align: center;
}
.estilosmodalDetails h3{
    color: #317143;
    margin: 0.625rem;
    text-align: justify;

}
.estilosmodalDetails h4{
    color: white;
    margin: 0.625rem;
    text-align: justify;

}
.detailsInfo{
    color: #A8A8A8;
    font-weight: 500;
}

.calendario{
    height: 50vh;
    background-color: #317143;
}

.FullCalendar{
    position: relative;
    z-index: 0;
}


.btn-3{
    background-color: gray;
    color:#317143;
    border-radius: 0.3125rem;
    padding: 0.0625rem 0.1875rem
}

.datePicker {
    width: 100%;
  }
 .pickFecha{
     /* background-color: #317143; */
     display: grid;
     justify-content: center;
     z-index: 110100;
 }

 .datagrid{
     display: none
 }