.topbarContainer{
    /* background-color: lightblue; */
    flex: 4;
    height: 50px;
    display: grid;
    padding: 20px 30px;
    position: sticky
}

.topbar-flex{
    display: flex;
    justify-content: end;
    align-items: center;
}

.topbar-flex div{
  padding: 0px 10px;
}