

*{
  font-family: 'Montserrat', sans-serif;
}




.container{
    /* height: 100vh; */
    background-color: white;


    display: flex
    
}

.topbarContainer{
  /* background-color: lightblue; */
  flex: 6;
  height: 50px;
  display: grid;
  padding: 20px 30px;
  position: sticky
}