@import url("https://cdn.syncfusion.com/ej2/material.css");


*{
  font-family: 'Montserrat', sans-serif;
}




.container{
    /* height: fit-content; */

    /* background-color: #faf8f8; */
    /* background-color: violet; */
    /* width: fit-content; */
    /* max-width: 100vw; */
    
    /* max-width: 100vw; */
/* min-width: 100vw; */

    display: flex;
    justify-content: space-between;    
    
}

.topbarContainer{
  /* background-color: lightblue; */
  flex: 7;
  /* height: 50px; */
  display: grid;
  align-items: flex-start;
  align-content: flex-start;
  padding: 20px 30px;
  position: sticky;
  margin-top: -100px;
  
}

.delete{
  /* background-color: aqua; */
  color: red;
}
.edit{
  /* background-color: aqua; */
  color: #317143;
}

.switch{
  /* background-color: aqua; */
  /* border: 1px solid gray; */
  color: "red";
  border-radius: 30px;
  padding: 1px;
  
}


.toggle-button{
  background-color: rgb(211, 204, 204);
  border-radius: 30px;

}
