.Containers{
    background-image: url("../IMG/Dashboard\ Login.jpg");
    background-size: cover;
 height: 100vh;
 width: 100vw;
 display: grid;
 justify-content: center;
 align-items: center;
 align-content: center;
}


.formContainer{
   height: 350px;
   /* background-color: #317143 */
  
}

/* form {
    max-width: 4000px;
    margin: auto;
 } */
.inputContainer i {
    position: absolute;
    margin-top: 30px;
    /* height: 10px; */

    
 }
 .inputContainer {
    width: 100%;
    /* margin-bottom: 10px; */
    display: flex;
    align-content: center;
    align-items: center;


 }
 .icon {
    padding: 30px;
   color: white;
   width: 30px;
   text-align: left;
 }
 .Field {
    width: fit-content;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    height: fit-content;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    /* padding-left: 10px; */
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
 }
 .Field::placeholder {
    color: white;
    /* font-size: 1.5em; */
 }

 .boton{
     margin-top: 20px;
     background-color: white;
     padding: 15px;
     width: 100%;
     height: fit-content;
     border-radius: 10px;
     font-size: 15px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     color: #317143;
     cursor: pointer;
 }

 .ForgotContainer{
     margin-top: 20px;
     display: flex;
     justify-content: end;
   
 }
 .ForgotContainer a{
    text-decoration: none;
   
 }

 .forgot{
     font-size: 20px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     color: white;
     text-decoration: none;
 }

 .tamañoTabla{
   height: 50vh;
}