.sidebarContainer{
    height: 100%;
        flex: 1;
    background-color: #f9b500;
    color: white;
    padding: 0.3125rem 1.25rem;
    display: grid;
    align-items: center;

    position: relative;
    top: 0.625rem;
  left: 0.625rem;
  border-radius: 0.625rem;
}
.sublogocontainer{
    height: 100%;
  
    /* background-color: #F88703; */
    color: white;
    /* padding: 0.625rem 1.875rem; */
    /* flex: 1; */
    background-color: #f9b500;

    display: grid;
    /* align-items: center; */
    align-content: center;
}

/* logo parte de arriba  */
.logoContainter{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.9375rem 0rem;
    
    
}

.adminContainer{
    /* background-color: #F88703; */
    height: fit-content;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0.4375rem 0rem;
}
.logo{
    height: 4.375rem;
    width: 10rem;
    /* margin-right: 0.3125rem; */
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.25rem;
    padding: 0rem 0.3125rem;
}

.linea{
  height: 0.0313rem;
  color: lightgray;
  width: 100%;
  text-align: center;
}

.title1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.25rem;
    padding: 0rem 1.875rem;
    color: white;
    text-decoration: none;
    
}
.title2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.5625rem;
    padding: 0rem 1.875rem;
    color: white;
    text-decoration: none;
    
}



.logo1{
    height: 2.1875rem;
    width: 1.875rem;
    
}

.lista{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -2.5rem;
    /* background-color: mediumblue; */

   
}

.lista1{
    list-style: none;
    width: 100%;
}
.lista1 li{
    margin-top: 0.625rem;
    
}


.logo2{
    height: 0.9375rem;
    width: 0.9375rem;
}

.logo3{
    height: 1.5625rem;
    width: 1.5625rem;
}

.logoContainter1{
    /* background-color: mediumblue; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5625rem;
    
}


.listahover.active,
.listahover:hover{
    background-color: #10282b;

    cursor: pointer;
    padding: 0.625rem 0rem;
}

.submenu{
    padding: 0.625rem 0rem 0.625rem 1.5625rem;
    margin: -0.625rem 0rem;
    
}


.submenu:hover{
    background-color: #10282b;
    /* padding: 0.625rem 0.625rem; */
    cursor: pointer;
    
}

.linkactivo{
    background-color: #10282b;
    padding: 0.625rem 0rem;
 
}
.linkactivo1{
    background-color: #10282b;

    cursor: pointer;
    padding: 0.9375rem 0rem 0.9375rem 0rem;
}
 

.links{
    background-color: lightskyblue;
    color: white;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}