.sidebarContainer{
    height: 100%;
        flex: 1;
    background-color: #317143;
    color: white;
    padding: 30px 30px;
}

/* logo parte de arriba  */
.logoContainter{
    /* background-color: aqua; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo{
    height: 110px;
    width: 100px;
    /* margin-right: 5px; */
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}

.linea{
    border: 1px solid lightgray;
    margin: 10px 0px;
}

.title1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
    
}


.logo1{
    height: 60px;
    width: 60px;
    
}

.lista{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -40px;
    /* background-color: mediumblue; */

   
}

.lista1{
    list-style: none;
    width: 100%;
}
.lista1 li{
    margin-top: 20px;
    
}


.logo2{
    height: 15px;
    width: 15px;
}

.logoContainter1{
    /* background-color: mediumblue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listahover.active,
.listahover:hover{
    background-color: #F88703;

    cursor: pointer;
}
